body {
    background-image: url(../images/Background.gif);
    /* background-repeat: no-repeat; */
    background-size: contain;
    }
/* first background on top of GIF */
    #main-section{
        width: 1000px;
        height: 2540px;
        background-color: #ff9999;
        margin: 100px 0 0 240px;
        position: relative;
        border-radius: 30px;
    }
/* Background color for heading behind Nickelodeon Image */
    h1{
        width: 900px;
        height: 150px;
        background-color: #cc6699;
        margin: 50px 0 0px 50px;
        position: absolute;
        border-top-left-radius: 140px;
        border-bottom-right-radius: 140px;
    }
    /* Nickelodeon Image */
    img{
        margin: 30px 0 0 80px;
    }

/* Main body section  */

    #textsection{
        width: 800px;
        height: 2358px;
        background-color: #ffffb3;
        margin: 220px 0 0 100px;
        position: absolute;
        border-radius: 30px;
    }
/* countdown bubble */
    #countdown{
        width: 100px;
        height: 100px;
        background-color: #4d004d;
        margin: 15px 0 0 350px;
        position: absolute;
        font-family: 'Butcherman', cursive;
        font-size: 60px;
        color: #65ff00;
        text-align: center;
        border-radius: 50px;
    }
/* all question text section */
    #qsection{
        width: 500px;
        height: 2120px;
        background-color: #ff6666;
        margin: 140px 0 0 150px;
        text-align: center;
        border-radius: 30px;
        font-family: 'Lacquer', sans-serif;
        font-size: 20px;
        color: #65ff00;
    }
    /* Results  */
    #content, #corrects, #wrongs, #rights{
        font-size: 25px;
        color: #4d004d;
        
    }
/* Start and submit buttons */
    #start{

         display: none;


    }
    #btn{
    margin: 350px 0 0 380px;
    width: 250px;
    height: 250px;
    border-radius: 205px;
    position: absolute;
    font-family: 'Butcherman', cursive;
    font-size: 60px;
    color: #65ff00;
    background-color: #FF6700;
    }
    #submit{
        margin: 30px 0 0 -70px;
        width: 150px;
        height: 50px;
        border-radius: 205px;
        position: absolute;
        font-family: 'Butcherman', cursive;
        font-size: 30px;
        color: #65ff00;
        background-color: #FF6700;

    }